<% @image_info %>
<%= form_with(model: @image_info) do |form| %>
 

  <div class="form-group">
    <%= form.label :img_name %>
    <%= form.text_field :img_name, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= form.label :img_type %>
    <%= form.text_field :img_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control"  %>
  </div>

   <div class ="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
   </div>
 
    <div class="form-group">
    <%= form.label :category %>
    <%= select_tag "category_id", options_from_collection_for_select(Category.all, :id, :category_name), include_blank:"Select Category" %>

  
    </div>

     <div class="form-group">
    <%= form.label :sub_category %>
    <%= select_tag 'sub_category_id', options_from_collection_for_select(SubCategory.all, :id, :sub_category_name), include_blank:"Select Sub_Category" %>
   
    </div>

   <div class="form-group">
    <%= form.label :image %>       
    <%= form.file_field :image ,class: "form-control" %>
  </div>   

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>