<% @image_info %>
<%= form_with(model: @image_info, local: true) do |form| %>
  <% if @image_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_info.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @image_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :img_name %>
    <%= form.text_field :img_name, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= form.label :img_type %>
    <%= form.text_field :img_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control"  %>
  </div>

   <div class ="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
   </div>
 
    <div class="form-group">
    <%= form.label :category %>
    <%= select_tag 'category_id', options_from_collection_for_select(Category.all, :id, :category_name), include_blank:"Select Category", :onchange => "update_subscategories_div(this.value)" %>
    </div>

     <div class="form-group">
    <%= form.label :sub_category %>
    <%= select_tag 'sub_category_id', options_from_collection_for_select(SubCategory.all, :id, :sub_category_name), include_blank:"Select Sub_Category" %>
   
    </div>

   <div class="form-group">
    <%= form.label :image %>       
    <%= form.file_field :image ,class: "form-control" %>
  </div>   

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>