<% @image.each do |e| %>
  <div class="row">
  
      <div class="col-md-3">
        <div class="card">
        <%= image_tag(e.image , style:"width:400px; height:auto") if e.image.present? %>
          <div class="containers">
            <h4><b><%= e.img_name %></b></h4> 
            <h4><b><%= e.img_type %></b></h4> 
            <h4><b><%= e.price %></b></h4>           
            <h4><b><%= e.sub_category_id%></b></h4> 
          </div>
        </div>
      </div> 
    </div>  
<% end %>



