<p id="notice"><%= notice %></p>

<h1>SubCategories</h1>

<table>
  <thead>
    <tr>
      <th>sub_category_name</th>        
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_categories.each do |sub_category| %>
      <tr>
      <td style="padding-right: 20px"><%= sub_category.sub_category_name %></td>       
      <td><%= link_to 'Show', sub_category %></td>
      <td><%= link_to 'Edit', edit_sub_category_path(sub_category) %></td>
      <td><%= link_to 'Destroy', sub_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New SubCategories', new_sub_category_path %>