<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <div class="container">
    <a class="navbar-brand" href="/">The ImagesAdda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
    </button>      
    <% if user_signed_in? %>
    <% if current_user.has_role?:admin%>
    <li><%= link_to "Add Category", new_category_path %></li> 
    <li><%= link_to "Add SubCategory", new_sub_category_path %></li> 

    <%= select_tag "category", options_from_collection_for_select(Category.all, :id, :category_name), include_blank:"Select Category", :onchange => "update_subscategories_div(this.value)" %>
     <div id="versionsDiv">
    </div>      
    <%end%>
    <% end %>
   
    <div class="collapse navbar-collapse" id=" navbarSupportedContent">        
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <%= link_to 'New ImageInfo', new_image_info_path %>
        </li>
      </ul>

      <p class="navbar-text float-right">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
       <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
       <% end %>
      </p>        
    </div>
  </div>
</nav>